/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  float: left;
  clear: left;
  padding: 0 0 0 5px;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 45%;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
#poststuff .wp_theatre_event > div {
  float: none;
  width: auto;
}
#poststuff .wp_theatre_event > div.content .title {
  display: none;
}
@font-face {
  font-family: "theatre-webfont";
  src: url("../font/theatre.eot");
  src: url("../font/theatre.eot?#iefix") format("embedded-opentype"), url("../font/theatre.woff") format("woff"), url("../font/theatre.ttf") format("truetype"), url("../font/theatre.svg#theatre-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
#toplevel_page_theatre .wp-menu-image:before {
  font-family: 'theatre-webfont' !important;
  content: '\e808';
}
textarea#wpt_custom_css {
  width: 500px;
  height: 200px;
}
.wp-list-table.fixed .column-thumbnail {
  width: 6em;
}
.wp-list-table.fixed .column-thumbnail figure {
  margin: 0;
  padding: 0;
}
.wp-list-table.fixed .column-thumbnail figure img {
  width: 100%;
  height: auto;
}
