/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  float: left;
  clear: left;
  padding: 0 0 0 5px;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 45%;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
#poststuff .wp_theatre_event > div {
  float: none;
  width: auto;
}
#poststuff .wp_theatre_event > div.content .title {
  display: none;
}
.wpt_settings_radio_with_selects {
  line-height: 2em;
}
#wpt_editor {
  margin: 10px 15px;
}
#wpt_editor .wpt_editor_settings {
  float: right;
  width: 195px;
}
#wpt_editor .wpt_editor_settings a {
  display: block;
  line-height: 21px;
  text-decoration: none;
}
#wpt_editor .wpt_editor_settings a:before {
  font-family: dashicons;
  font-size: 20px;
  display: inline-block;
  width: 30px;
  vertical-align: middle;
  text-align: center;
}
#wpt_editor .wpt_editor_settings a.settings:before {
  content: "\f111";
}
#wpt_editor .wpt_editor_settings a.trash:before {
  content: "\f182";
}
#wpt_editor .wpt_editor_settings a.categories:before {
  content: "\f318";
}
#wpt_editor .wpt_editor_settings a.seasons:before {
  content: "\f145";
}
#wpt_editor .wpt_editor_production_form {
  overflow: auto;
}
#wpt_editor .wpt_editor_production_form [name=title] {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  width: 100%;
  outline: 0px none;
  margin: 0px;
}
#wpt_editor .wpt_editor_production_form .thumbnail_control {
  width: 19%;
  height: 120px;
  border: 1px dashed #bbb;
  float: left;
  margin: 4px 1% 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
#wpt_editor .wpt_editor_production_form .thumbnail_control img {
  width: 100%;
  height: auto;
}
#wpt_editor .wpt_editor_production_form [name=excerpt],
#wpt_editor .wpt_editor_production_form [name='categories\[\]'],
#wpt_editor .wpt_editor_production_form [name=season] {
  float: left;
  display: block;
  box-sizing: border-box;
  margin: 4px 0 0 0;
}
#wpt_editor .wpt_editor_production_form [name=excerpt] {
  width: 59%;
  height: 120px;
  margin-right: 1%;
}
#wpt_editor .wpt_editor_production_form [name='categories\[\]'] {
  width: 20%;
  height: 86px;
}
#wpt_editor .wpt_editor_production_form [name=season] {
  width: 20%;
  height: 30px;
}
#wpt_editor .wpt_editor_production_form [type="submit"],
#wpt_editor .wpt_editor_production_form [type="reset"] {
  margin: 4px 1% 0 0;
}
#wpt_editor #wpt_editor_production_form_create {
  margin: 20px 210px 40px 0;
}
#wpt_editor #wpt_editor_production_form_create.closed form input,
#wpt_editor #wpt_editor_production_form_create.closed form textarea,
#wpt_editor #wpt_editor_production_form_create.closed form select,
#wpt_editor #wpt_editor_production_form_create.closed form button,
#wpt_editor #wpt_editor_production_form_create.closed form .thumbnail_control {
  display: none !important;
}
#wpt_editor #wpt_editor_production_form_create.closed form input[name=title] {
  display: block !important;
}
#wpt_editor .wpt_editor_event_form {
  float: left;
}
#wpt_editor .wpt_editor_event_form input,
#wpt_editor .wpt_editor_event_form select {
  height: 25px;
}
#wpt_editor .wpt_editor_event_form .dates {
  width: 30%;
  float: left;
  margin: 4px 0 0 0;
}
#wpt_editor .wpt_editor_event_form .dates input {
  float: left;
  margin: 0 3.33333333% 4px 0;
}
#wpt_editor .wpt_editor_event_form .dates [name=event_date_date],
#wpt_editor .wpt_editor_event_form .dates [name=enddate_date] {
  width: 50%;
}
#wpt_editor .wpt_editor_event_form .dates [name=event_date_time],
#wpt_editor .wpt_editor_event_form .dates [name=enddate_time] {
  width: 43.33333333%;
}
#wpt_editor .wpt_editor_event_form .location,
#wpt_editor .wpt_editor_event_form .tickets {
  width: 20%;
  float: left;
}
#wpt_editor .wpt_editor_event_form .location input,
#wpt_editor .wpt_editor_event_form .tickets input {
  margin: 4px 5% 0 0;
  width: 95%;
}
#wpt_editor .wpt_editor_event_form .prices {
  width: 10%;
  float: left;
}
#wpt_editor .wpt_editor_event_form .prices textarea {
  margin: 4px 10% 0 0;
  width: 90%;
  height: 54px;
}
#wpt_editor .wpt_editor_event_form .tickets_status_control {
  float: left;
  width: 15%;
}
#wpt_editor .wpt_editor_event_form .tickets_status_control select {
  margin: 4px 0 0 0;
  width: 100%;
}
#wpt_editor .wpt_editor_event_form .tickets_status_control input {
  display: none;
  margin: 4px 0 0 0;
  width: 100%;
}
#wpt_editor .wpt_editor_event_form .close {
  display: none;
}
#wpt_editor .wpt_editor_list {
  display: none;
}
#wpt_editor .wpt_editor_list.activated {
  display: block;
}
#wpt_editor .wpt_editor_list .wpt_editor_sort {
  line-height: 30px;
  margin-right: 210px;
}
#wpt_editor .wpt_editor_list .wpt_editor_sort .sort {
  display: inline-block;
  padding: 0 10px;
}
#wpt_editor .wpt_editor_list .wpt_editor_sort .sort:after {
  font-family: dashicons;
  display: inline-block;
  width: 16px;
  content: '';
  vertical-align: middle;
  content: "\00A0\f156";
}
#wpt_editor .wpt_editor_list .wpt_editor_sort .sort.asc:after {
  content: "\f142";
}
#wpt_editor .wpt_editor_list .wpt_editor_sort .sort.desc:after {
  content: "\f140";
}
#wpt_editor .wpt_editor_list .wpt_editor_filters {
  float: right;
  width: 205px;
}
#wpt_editor .wpt_editor_list .wpt_editor_filters h3 {
  margin-top: 0;
}
#wpt_editor .wpt_editor_list .wpt_editor_filters ul li a {
  text-decoration: none;
}
#wpt_editor .wpt_editor_list .wpt_editor_filters ul li a.active:after {
  content: "\f335";
  font-family: dashicons;
  vertical-align: middle;
}
#wpt_editor .wpt_editor_list .wpt_editor_event_form {
  display: none;
}
#wpt_editor .wpt_editor_list #wpt_editor_events {
  padding-top: 10px;
}
#wpt_editor .wpt_editor_list #wpt_editor_events h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 4px;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .list .event {
  border-top: 1px solid #E5E5E5;
  overflow: auto;
  padding: 4px 0;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .list .event .content > * {
  float: left;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .list .event .content .event_date {
  width: 20%;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .list .event .content .venue {
  width: 20%;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .list .event .content .city {
  width: 20%;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .list .event .content .prices_html {
  width: 10%;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .list .event.edit {
  background-color: #f9f9f9;
  padding: 4px;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .list .event.edit .content,
#wpt_editor .wpt_editor_list #wpt_editor_events .list .event.edit .actions {
  display: none;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .list .event.edit .wpt_editor_event_form {
  display: block;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .list .event:hover .actions {
  opacity: 1;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .add {
  padding: 4px 0;
  border-top: 1px solid #E5E5E5;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .add.edit {
  background-color: #f9f9f9;
  padding: 4px;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .add.edit .wpt_editor_event_form {
  display: block;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .add.edit .wpt_editor_event_form .close {
  display: none !important;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .add.edit a.save_link,
#wpt_editor .wpt_editor_list #wpt_editor_events .add.edit a.cancel_link {
  display: inline-block;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .add.edit a.add_link {
  display: none;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .add a.button {
  margin: 10px 0;
}
#wpt_editor .wpt_editor_list #wpt_editor_events .add a.save_link,
#wpt_editor .wpt_editor_list #wpt_editor_events .add a.cancel_link {
  display: none;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list {
  margin-right: 210px;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production {
  background-color: white;
  border: 1px solid #E5E5E5;
  padding: 10px;
  margin: 0 0 20px 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .actions {
  float: right;
  opacity: .1;
  line-height: 20px;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .actions div {
  display: inline-block;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .actions div a {
  display: inline-block;
  height: 20px;
  width: 30px;
  overflow: hidden;
  text-decoration: none;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .actions div a:before {
  font-family: dashicons;
  font-size: 20px;
  display: inline-block;
  width: 30px;
  text-align: right;
  display: block;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .actions div.view_link a:before {
  content: "\f177";
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .actions div.delete_link a:before {
  content: "\f182";
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .actions div.edit_link a:before {
  content: "\f464";
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production:hover > .actions {
  opacity: 1;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta {
  color: #bbb;
  line-height: 18px;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .dates,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .cities,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .categories_html,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .season_html {
  display: inline-block;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .dates:after,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .cities:after,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .categories_html:after,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .season_html:after {
  content: '\00A0';
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .dates:empty,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .cities:empty,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .categories_html:empty,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .season_html:empty {
  display: none;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .dates:before,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .categories_html:before,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .season_html:before {
  font-family: dashicons;
  font-size: 20px;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .dates:before {
  content: "\f469\00A0";
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .cities:before {
  content: 'in\00A0';
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .season_html:before {
  content: "\f145\00A0";
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .categories_html:before {
  content: "\f318\00A0";
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .categories_html ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .categories_html ul li {
  display: inline;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .categories_html ul li:before {
  content: ', ';
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production .meta .categories_html ul li:first-child:before {
  content: '';
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production > .content {
  margin-top: 1em;
  overflow: auto;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production > .content > * {
  margin-left: 85px;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production > .content .thumbnail {
  width: 75px;
  float: left;
  margin-left: 0;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production > .content .thumbnail img {
  width: 100%;
  height: auto;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production > .content .thumbnail:empty {
  border: 1px dashed #bbb;
  height: 75px;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production > .content .title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.5em;
  line-height: 1.4em;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production > .form {
  display: none;
  overflow: auto;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production > .form [type="submit"],
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production > .form [type="reset"] {
  display: none;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production.edit > .meta,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production.edit > .content,
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production.edit > .actions {
  display: none;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production.edit > .form {
  display: block;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production.edit > .form .close {
  float: right;
  display: block;
  height: 20px;
  width: 30px;
  line-height: 20px;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 10px;
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production.edit > .form .close:before {
  font-family: dashicons;
  font-size: 20px;
  display: inline-block;
  width: 30px;
  text-align: right;
  display: block;
  content: "\f335";
}
#wpt_editor .wpt_editor_list #wpt_editor_productions > .list .production.edit > .form input#wpt_editor_production_form_title {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  width: 100%;
  outline: 0px none;
  margin: 0px;
}
#wpt_editor .wpt_editor_list .wpt_editor_templates {
  display: none;
}
#wpt_editor.busy .spinner {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
#footer-left {
  padding-top: 21px;
}
#footer-upgrade {
  padding-bottom: 9px;
  height: 41px;
}
#footer-upgrade .logo {
  display: inline-block;
  width: 175px;
  height: 50px;
  vertical-align: bottom;
  background-image: url(../img/slimndap@1x.png);
  margin-bottom: -9px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #footer-upgrade .logo {
    background-image: url(../img/slimndap@2x.png);
    background-size: 175px 50px;
  }
}
/*
 * Hide the datepicker div when it is not in use.
 * Necessary when the datepicker inputs are hidden.
 * @see: http://stackoverflow.com/questions/4580727/override-jquery-ui-datepicker-div-visible-strangely-on-first-page-load
 */
#ui-datepicker-div {
  display: none;
}
@font-face {
  font-family: "theatre-webfont";
  src: url("../font/theatre-webfont.eot");
  src: url("../font/theatre-webfont.eot?#iefix") format("embedded-opentype"), url("../font/theatre-webfont.woff") format("woff"), url("../font/theatre-webfont.ttf") format("truetype"), url("../font/theatre-webfont.svg#theatre-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
#toplevel_page_theatre .wp-menu-image:before {
  font-family: 'theatre-webfont' !important;
  content: '\e808';
}
textarea#wpt_custom_css {
  width: 500px;
  height: 200px;
}
.wp-list-table.fixed .column-thumbnail {
  width: 6em;
}
.wp-list-table.fixed .column-thumbnail figure {
  margin: 0;
  padding: 0;
}
.wp-list-table.fixed .column-thumbnail figure img {
  width: 100%;
  height: auto;
}
.wptheatre_prod .row-actions,
.wp_theatre_event .row-actions {
  visibility: hidden;
}
.wptheatre_prod:hover .row-actions,
.wp_theatre_event:hover .row-actions {
  visibility: visible;
}
#poststuff .wp_theatre_event > * {
  margin: 0;
}
