.wp_theatre_prod {
  overflow: auto;
  line-height: inherit;
}
.wp_theatre_prod figure {
  float: left;
  width: 30%;
  padding-right: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
.wp_theatre_prod figure img {
  max-width: 100%;
  height: auto;
  padding: 0;
}
.wp_theatre_prod .wp_theatre_prod_main {
  float: left;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wp_theatre_event {
  line-height: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wp_theatre_event figure {
  margin: 0;
}
.wp_theatre_event figure img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
.wp_theatre_event .wp_theatre_event_main {
  overflow: auto;
}
@media (max-width: 768px) {
  .wp_theatre_event figure {
    width: 30%;
  }
  .wp_theatre_event .wp_theatre_event_main {
    width: 70%;
  }
  .wp_theatre_event .wp_theatre_event_main > div {
    float: none;
    width: auto !important;
  }
}
.wpt_events {
  margin-bottom: 1em;
}
.wpt_events nav span {
  padding-right: 0.5em;
  font-size: 0.875em;
}
.wpt_events .wp_theatre_event {
  padding-top: 0.5em;
  margin-top: 0.5em;
  overflow: auto;
}
.wpt_events .wp_theatre_event > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.wpt_events .wp_theatre_event figure {
  width: 25%;
  padding-right: 0.5em;
}
.wpt_events .wp_theatre_event .wp_theatre_event_main {
  width: 50%;
}
.wpt_events .wp_theatre_event .wp_theatre_event_tickets {
  width: 25%;
  padding-left: 0.5em;
}
.wpt_events .wp_theatre_event.wp_theatre_event_without_thumbnail {
  padding-left: 25%;
}
.wpt_events .wp_theatre_event.wp_theatre_event_without_thumbnail .wp_theatre_event_main {
  width: 66.66666666666667%;
}
.wpt_events .wp_theatre_event.wp_theatre_event_without_thumbnail .wp_theatre_event_tickets {
  width: 33.333333333333336%;
}
.wpt_events.wpt_events_without_thumbnail .wp_theatre_event.wp_theatre_event_without_thumbnail {
  padding-left: 0;
}
.wpt_events.wpt_events_without_thumbnail .wp_theatre_event.wp_theatre_event_without_thumbnail .wp_theatre_event_main {
  width: 75%;
}
.wpt_events.wpt_events_without_thumbnail .wp_theatre_event.wp_theatre_event_without_thumbnail .wp_theatre_event_tickets {
  width: 25%;
}
.wpt_productions nav span {
  padding-right: 0.5em;
  font-size: 0.875em;
}
.wpt_productions .wp_theatre_prod {
  padding-top: 0.5em;
  margin-top: 0.5em;
  overflow: auto;
}
.wpt_productions .wp_theatre_prod > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.wpt_productions .wp_theatre_prod figure {
  width: 25%;
  padding-right: 0.5em;
}
.wpt_productions .wp_theatre_prod .wp_theatre_prod_main {
  width: 75%;
}
.wpt_productions .wp_theatre_prod.wp_theatre_prod_without_thumbnail {
  padding-left: 25%;
}
.wpt_productions .wp_theatre_prod.wp_theatre_prod_without_thumbnail .wp_theatre_event_main {
  width: 100%;
}
.widget_wpt_events_widget .wp_theatre_event figure {
  width: 30%;
}
.widget_wpt_events_widget .wp_theatre_event .wp_theatre_event_main {
  float: left;
  width: 70%;
}
.widget_wpt_events_widget .wp_theatre_event .wp_theatre_event_main > div {
  float: none;
  width: auto;
}
.widget_wpt_events_widget .wp_theatre_event .wp_theatre_event_tickets {
  padding-left: 30%;
  width: 100%;
}
.widget_wpt_cart_widget .wpt_cart_item {
  overflow: auto;
  margin-bottom: 1em;
}
.widget_wpt_cart_widget .wpt_cart_item .wpt_cart_item_amount {
  float: left;
  width: 15%;
}
.widget_wpt_cart_widget .wpt_cart_item .wpt_cart_item_amount:after {
  content: ' \d7';
}
.widget_wpt_cart_widget .wpt_cart_item .wp_theatre_prod {
  float: left;
  width: 85%;
}
iframe.wp_theatre_iframe {
  width: 800px;
  height: 500px;
}
