.wp_theatre_prod {
  overflow: auto;
  line-height: inherit;
}
.wp_theatre_prod figure {
  float: left;
  width: 30%;
  padding-right: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
.wp_theatre_prod figure img {
  max-width: 100%;
  height: auto;
}
.wp_theatre_prod .wp_theatre_prod_main {
  float: left;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wp_theatre_event {
  overflow: auto;
  line-height: inherit;
}
.wp_theatre_event figure {
  float: left;
  width: 15%;
  padding-right: 0.5em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wp_theatre_event figure img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
.wp_theatre_event .wp_theatre_event_main {
  float: left;
  width: 85%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wp_theatre_event .wp_theatre_event_main > div {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wp_theatre_event .wp_theatre_event_main > div.wp_theatre_event_date {
  width: 35%;
  padding-right: 0.5em;
}
.wp_theatre_event .wp_theatre_event_main > div.wp_theatre_event_content {
  width: 50%;
  padding-right: 0.5em;
}
.wp_theatre_event .wp_theatre_event_main > div.wp_theatre_event_content .remark {
  font-style: italic;
}
.wp_theatre_event .wp_theatre_event_main > div.wp_theatre_event_tickets {
  width: 15%;
}
.wp_theatre_event .wp_theatre_event_main > div.wp_theatre_event_tickets .wp_theatre_event_prices {
  font-size: 0.875em;
}
@media (max-width: 768px) {
  .wp_theatre_event figure {
    width: 30%;
  }
  .wp_theatre_event .wp_theatre_event_main {
    width: 70%;
  }
  .wp_theatre_event .wp_theatre_event_main > div {
    float: none;
    width: auto !important;
  }
}
.wp_theatre_events nav {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 0.5em;
}
.wp_theatre_events nav span {
  padding-right: 0.5em;
  font-size: 0.875em;
}
.wp_theatre_events ul {
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;
}
.wp_theatre_events ul li {
  list-style-type: none;
  border-top: 1px solid lightgrey;
  padding-top: 0.5em;
  margin-top: 0.5em;
}
.wp_theatre_events ul li:first-child {
  border-top: none;
}
.wp_theatre_productions nav {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 0.5em;
}
.wp_theatre_productions nav span {
  padding-right: 0.5em;
  font-size: 0.875em;
}
.wp_theatre_productions ul {
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;
}
.wp_theatre_productions ul li {
  border-top: 1px solid lightgrey;
  padding-top: 0.5em;
  margin-top: 0.5em;
}
.wp_theatre_productions ul li:first-child {
  border-top: none;
}
.widget_wpt_events_widget .wp_theatre_event figure {
  width: 30%;
}
.widget_wpt_events_widget .wp_theatre_event .wp_theatre_event_main {
  float: left;
  width: 70%;
}
.widget_wpt_events_widget .wp_theatre_event .wp_theatre_event_main > div {
  float: none;
  width: auto;
}
.widget_wpt_cart_widget .wpt_cart_item {
  overflow: auto;
  margin-bottom: 1em;
}
.widget_wpt_cart_widget .wpt_cart_item .wpt_cart_item_amount {
  float: left;
  width: 15%;
}
.widget_wpt_cart_widget .wpt_cart_item .wpt_cart_item_amount:after {
  content: ' \d7';
}
.widget_wpt_cart_widget .wpt_cart_item .wp_theatre_prod {
  float: left;
  width: 85%;
}
iframe.wp_theatre_iframe {
  width: 800px;
  height: 500px;
}
