/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  float: left;
  clear: left;
  padding: 0 0 0 5px;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 45%;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
#dashboard_wp_theatre .events li {
  overflow: auto;
}
#dashboard_wp_theatre .events li > div {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dashboard_wp_theatre .events li > div.date {
  width: 20%;
  color: #777777;
  padding-right: 8px;
}
#dashboard_wp_theatre .events li > div.content {
  width: 60%;
  padding-right: 8px;
}
#dashboard_wp_theatre .events li > div.tickets {
  width: 20%;
}
#dashboard_wp_theatre .events li span {
  float: left;
  color: #777777;
  width: 150px;
  margin-right: 8px;
}
