#wpt_editor {
	margin: 10px 15px;
	.wpt_editor_settings {
		float: right;
		width: 195px;
		text-align: right;
		a {
			display: inline-block;
			line-height: 21px;
			text-decoration: none;
			&:before {
				font-family: dashicons;
				font-size: 20px;
				display: inline-block;
				width: 30px;
				vertical-align: middle;
				text-align: center;
			}
			&.settings:before {
				content: "\f111";
				
			}
			&.trash:before {
				content: "\f182";
				
			}
		}
	}
	.wpt_editor_production_form {
		overflow: auto;
		[name=title] {
			padding: 3px 8px;
			font-size: 1.7em;
			line-height: 100%;
			height: 1.7em;
			width: 100%;
			outline: 0px none;
			margin: 0px;			
		}
		[name=excerpt],
		[name='categories\[\]'],
		[name=season] {
			float: left;
			display: block;
			box-sizing: border-box;
			margin: 4px 0 0 0;						
		}
		[name=excerpt] {
			width: 79%;
			height: 120px;
			margin-right: 1%;
		}
		[name='categories\[\]'] {
			width: 20%;
			height: 120px - 30px - 4px;;					
		}
		[name=season] {
			width: 20%;
			height: 30px;					
		}
		[type="submit"], 
		[type="reset"] {
			margin: 4px 1% 0 0;
		}
	}
	#wpt_editor_production_form_create {
		margin: 20px 210px 40px 0;
		&.closed {
			form {
				input, textarea, select, button {
					display: none;
				}
				input[name=title] {
					display: block;
				}
			}
		}	
	}
	.wpt_editor_event_form {
		float: left;
		.dates {
			width: 30%;
			float: left;
			margin: 4px 0 0 0;
			input {
				float: left;
				margin: 0 (1% * 10/3) 4px 0;
			}
			[name=event_date_date],
			[name=enddate_date] {
				width: 50%;
			}
			[name=event_date_time],
			[name=enddate_time] {
				width: 50% - (1% * 20/3);
			}
		}
		.location,
		.tickets {
			width: 20%;
			float: left;
			input {
				margin: 4px 5% 0 0;
				width: 95%;
			}
		}
		.prices {
			width: 10%;
			float: left;
			textarea {
				margin: 4px 10% 0 0;
				width: 90%;
				height: 50px;
			}
		}
		.status {
			float: left;
			width: 20%;
			select {
				margin: 4px 0 0 0;
			}
		}
		.close {
			display: none;
		}
	}
	.wpt_editor_list {
		display: none;
		&.activated {
			display: block;
		}
		.wpt_editor_sort {
			line-height: 30px;
			margin-right: 210px;
			.sort {
				display: inline-block;
				padding: 0 10px;
				&:after {
					font-family: dashicons;
					display: inline-block;
					width: 16px;
					content: '';
					vertical-align: middle;
					content: "\00A0\f156";
				}
				&.asc:after {
					content: "\f142";
				}
				&.desc:after {
					content: "\f140";
				}
			}
		}
		.wpt_editor_filters {
			float: right;
			width: 205px;
			h3 {
				margin-top: 0;
			}
			ul {
				li {
					a {
						text-decoration: none;
						&.active:after {
							content: "\f335";
							font-family: dashicons;
							vertical-align: middle;
						}
					}
				}
			}
		}
		.wpt_editor_event_form {
			display: none;
		}
		#wpt_editor_events {
			padding-top: 10px;
			h3 {
				font-size: 1em;
				font-weight: bold;
				margin: 0 0 4px;
			}
			.list {
				.event {
					border-top: 1px solid #E5E5E5;
					overflow: auto;
					padding: 4px 0;
					.content {
						> * {
							float: left;
						}
						.event_date {
							width: 20%;
						}
						.venue {
							width: 20%;
						}
						.city {
							width: 20%;
						}
						.prices_html {
							width: 10%;
						}
					}
					&.edit {
						background-color: #f9f9f9;
						padding: 4px;
						.content, .actions {
							display: none;
						}
						.wpt_editor_event_form {
							display: block;
						}
					}
					&:hover {
						.actions {
							opacity: 1;
						}
					}
				}
			}
			.add {
				padding: 4px 0;
				border-top: 1px solid #E5E5E5;
				&.edit {
					background-color: #f9f9f9;
					padding: 4px;
					.wpt_editor_event_form {
						display: block;
						.close {
							display: none !important;
						}
					}
					a {
						&.save_link, &.cancel_link {
							display: inline-block;
						}
						&.add_link {
							display: none;
						}
					}
				}
				a {
					&.button {
						margin: 10px 0;
					}
					&.save_link, &.cancel_link {
						display: none;
					}
				}
			}
		}
		#wpt_editor_productions {
			> .list {
				margin-right: 210px;
				.production {
					background-color: white;
					border: 1px solid #E5E5E5;
					padding: 10px;
					margin: 0 0 20px 0;
					box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
					.actions {
						float: right;
						opacity: .1;
						line-height: 20px;
						div {
							display: inline-block;
							a {
								display: inline-block;
								height: 20px;
								width: 30px;
								overflow: hidden;
								text-decoration: none;
								
							}
							a:before {
								font-family: dashicons;
								font-size: 20px;
								display: inline-block;
								width: 30px;
								text-align: right;
								display: block;
							}
							&.view_link a:before {
								content: "\f177";
							} 
							&.delete_link a:before {
								content: "\f182";
							} 
							&.edit_link a:before {
								content: "\f464";
							} 
						}
					}
					&:hover {
						> .actions {
							opacity: 1;
						}
					}
					.meta {
						color: #bbb;
						line-height: 18px;
						.dates,
						.cities,
						.categories_html,
						.season_html {
							display: inline-block;
							&:after {
								content: '\00A0';
							}
							&:empty {
								display: none;
							}
						}
						.dates,
						.categories_html,
						.season_html {
							&:before {
								font-family: dashicons;
								font-size: 20px;
								display: inline-block;
								height: 20px;
								vertical-align: middle;
							}
						}
						.dates:before {
							content: "\f469\00A0";
						}
						.cities:before {
							content: 'in\00A0';
						}
						.season_html:before {
							content: "\f145\00A0";
						}
						.categories_html {
							&:before {
								content: "\f318\00A0";
							}
							ul {
								list-style-type: none;
								margin: 0;
								padding: 0;
								display: inline-block;
								li {
									display: inline;
									&:before {
										content: ', ';
									}
									&:first-child:before {
										content: '';
									}
								}
							}
						}				
					}
					> .content {
						margin-top: 1em;
						overflow: auto;
						> * {
							margin-left: 75px + 10px;
						}
						.thumbnail {
							width: 75px;
							float: left;
							margin-left: 0;
							img {
								width: 100%;
								height: auto;
							}
							&:empty {
								border: 1px dashed #bbb;
								height: 75px;
							}
						}
						.title {
							margin-top: 0;
							margin-bottom: 0;
							padding-top: 0;
							padding-bottom: 0;
							font-size: 1.5em;
							line-height: 1.4em;
						}
						.excerpt {
						}
						
					}
					> .form {
						display: none;
						overflow: auto;
						[type="submit"], 
						[type="reset"] {
							display: none;
						}
					}
					&.edit {
						> .meta, > .content, > .actions {
							display: none;
						}
						> .form {
							display: block;
							.close {
								float: right;
								display: block;
								height: 20px;
								width: 30px;
								line-height: 20px;
								overflow: hidden;
								text-decoration: none;
								margin-bottom: 10px;
								&:before {
									font-family: dashicons;
									font-size: 20px;
									display: inline-block;
									width: 30px;
									text-align: right;
									display: block;
									content: "\f335";
								} 
							}
							input#wpt_editor_production_form_title {
								padding: 3px 8px;
								font-size: 1.7em;
								line-height: 100%;
								height: 1.7em;
								width: 100%;
								outline: 0px none;
								margin: 0px;
							}
						}
					}
				}				
			}

		}
		.wpt_editor_templates {
			display: none;
		}		
	}
	&.busy {
		.spinner {
			display: block;
			text-indent: 100%;
			overflow: hidden;
			white-space: nowrap;
		}
	}

}
#footer-left {
	padding-top: 21px;	
}
#footer-upgrade {
	padding-bottom: 9px;
	height: 41px;
	.logo {
		display: inline-block;
		width: 175px;
		height: 50px;
		vertical-align: bottom;
		background-image: url(../img/slimndap@1x.png);
		margin-bottom: -9px;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-image: url(../img/slimndap@2x.png);
			background-size: 175px 50px;
		}
	}
}