@import "lesshat";
@import "admin/datetimepicker.less";
@import "admin/event.less";
@import "admin/production.less";

@font-face {
	.font-face('theatre-webfont', ~'../font/theatre',normal, normal);
}

#toplevel_page_theatre {
	.wp-menu-image {
		&:before {
			font-family: 'theatre-webfont' !important;
			content: '\e808';
		}
	}
}

#dashboard_wp_theatre {
	.inside {
		padding: 0;
		margin: 0;
		.wp_theatre_events {
			padding: 8px 12px 4px;
			.wp_theatre_event {
				&:hover {
					+.row-actions {
						visibility: visible;
					}
				}
			}
			.row-actions {
				&:hover {
					visibility: visible;
				}
			}
		}		
		.productions {
			border-top: 1px solid rgb(236, 236, 236);
			background-color: rgb(250, 250, 250);
		}
	}
}

.theatre_page_wpt_admin {
	textarea#custom_css {
		width: 500px;
		height: 200px;
	}
}