@import "lesshat";
@import "admin/datetimepicker.less";
@import "admin/event.less";
@import "admin/production.less";

@font-face {
	.font-face('theatre-webfont', ~'../font/theatre',normal, normal);
}

#toplevel_page_theatre {
	.wp-menu-image {
		&:before {
			font-family: 'theatre-webfont' !important;
			content: '\e808';
		}
	}
}

#dashboard_wp_theatre {
	.inside {
		padding: 0;
		margin: 0;
		.events, .productions {
			padding: 8px 12px 4px;
			>ul {
				>li {
					border-bottom: 1px solid rgb(236, 236, 236);
					padding: 0 0 8px;
					margin: 0 0 8px;
					.row-actions {
						padding-left: 20%;
						&:hover {
							visibility: visible;
						}
					}
					&:hover {
						.row-actions {
							visibility: visible;
						}
					}
				}
			}
		}
		.productions {
			border-top: 1px solid rgb(236, 236, 236);
			background-color: rgb(250, 250, 250);
		}
	}
}