@import "lesshat";

.wp_theatre_prod {
	overflow: auto;
	line-height: inherit;
	figure {
		float: left;
		width: 30%;
		padding-right: 0.5em;
		.box-sizing(border-box);
		margin: 0;
		img {
			max-width: 100%;
			height: auto;
			padding: 0;
		}
	}
	.wp_theatre_prod_main {
		float: left;
		width: 70%;
		.box-sizing(border-box);
	}
}

.wp_theatre_event {
	line-height: inherit;
	.box-sizing(border-box);
	figure {
		margin: 0;
		img {
			.box-sizing(border-box);
			max-width: 100%;
			height: auto;
		}
	}
	.wp_theatre_event_main {
		overflow: auto;
		.wp_theatre_event_datetime {
			.wp_theatre_event_date {
			}
			.wp_theatre_event_time {
			}
		}
		.wp_theatre_event_location {
			.wp_theatre_event_venue {
			}
			.wp_theatre_event_city {
			}
		}
	}
	@media(max-width: 768px) {
		figure {
			width: 30%;
		}
		.wp_theatre_event_main {
			width: 70%;
			>div {
				float: none;
				width: auto !important;
			}
		}
	}
}

.wpt_events {
	margin-bottom: 1em;
	> * {
	}
	nav {
		span {
			padding-right: 0.5em;
			font-size: 0.875em;
		}
	}
	.wp_theatre_event {
		padding-top: 0.5em;
		margin-top: 0.5em;
		overflow: auto;
		> * {
			.box-sizing(border-box);
			float: left;
		}
		figure {
			width: 25%;
			padding-right: 0.5em;
		}
		.wp_theatre_event_main {
			width: 50%;
		}
		.wp_theatre_event_tickets {
			width: 25%;
			padding-left: 0.5em;
		}
		&.wp_theatre_event_without_thumbnail {
			padding-left: 25%;
			.wp_theatre_event_main {
				width: (50%/0.75);
			}
			.wp_theatre_event_tickets {
				width: (25%/0.75);
			}
		}
	}
	&.wpt_events_without_thumbnail {
		.wp_theatre_event {
			&.wp_theatre_event_without_thumbnail {
				padding-left: 0;
				.wp_theatre_event_main {
					width: 75%;
				}
				.wp_theatre_event_tickets {
					width: 25%;
				}
			}
		}
	}
}

.wpt_productions {
	nav {
		span {
			padding-right: 0.5em;
			font-size: 0.875em;
		}
	}
	.wp_theatre_prod {
		padding-top: 0.5em;
		margin-top: 0.5em;
		overflow: auto;
		> * {
			.box-sizing(border-box);
			float: left;
		}
		figure {
			width: 25%;
			padding-right: 0.5em;
		}
		.wp_theatre_prod_main {
			width: 75%;
		}
		&.wp_theatre_prod_without_thumbnail {
			padding-left: 25%;
			.wp_theatre_event_main {
				width: (75%/0.75);
			}
		}
	}
}

.widget_wpt_events_widget {
	.wp_theatre_event {
		figure {
			width: 30%;
		}
		.wp_theatre_event_main {
			float: left;
			width: 70%;
			> div {
				float: none;
				width: auto;
			}
		}
		.wp_theatre_event_tickets {
			padding-left: 30%;
			width: 100%;
		}
	}
}

.widget_wpt_cart_widget {
	.wpt_cart_item {
		overflow: auto;
		margin-bottom: 1em;
		.wpt_cart_item_amount {
			float: left;
			width: 15%;
			&:after {
				content: ' \d7';
			}
		}
		.wp_theatre_prod {
			float: left;
			width: 85%;
			
		}
	}
}

iframe.wp_theatre_iframe {
	width: 800px;
	height: 500px;
}
