@import "lesshat";

.wp_theatre_prod {
	overflow: auto;
	line-height: inherit;
	figure {
		float: left;
		width: 15%;
		padding-right: 0.5em;
		.box-sizing(border-box);
	}
}

.wp_theatre_event {
	overflow: auto;
	line-height: inherit;
	figure {
		float: left;
		width: 15%;
		padding-right: 0.5em;
		margin: 0;
		.box-sizing(border-box);
		img {
			.box-sizing(border-box);
			max-width: 100%;
			height: auto;
		}
	}
	.wp_theatre_event_main {
		float: left;
		width: 85%;
		.box-sizing(border-box);
		>div {
			float: left;
			.box-sizing(border-box);			
			&.wp_theatre_event_date {
				width: 35%;
				padding-right: 0.5em;
			}
			&.wp_theatre_event_content {
				width: 50%;
				padding-right: 0.5em;
				.remark {
					font-style: italic;
				}
				
			}
			&.wp_theatre_event_tickets {
				width: 15%;
				.wp_theatre_event_prices {
					font-size: 0.875em;
				}
			}
		}
	}
}

.wp_theatre_events {
	nav {
		span {
			padding-right: 0.5em;
			font-size: 0.875em;
		}
		border-bottom: 1px solid lightgrey;
		padding-bottom: 0.5em;
	}
	ul {
		list-style-type: none;
		margin: 0 0 1em;
		padding: 0;	
		li {
			list-style-type: none;
			border-top: 1px solid lightgrey;
			padding-top: 0.5em;
			margin-top: 0.5em;
			&:first-child {
				border-top: none;
			}
		}
		
	}
}

.wp_theatre_productions {
	nav {
		span {
			padding-right: 0.5em;
			font-size: 0.875em;
		}
		border-bottom: 1px solid lightgrey;
		padding-bottom: 0.5em;
	}
	ul {
		list-style-type: none;
		margin: 0 0 1em;
		padding: 0;	
		li {
			border-top: 1px solid lightgrey;
			padding-top: 0.5em;
			margin-top: 0.5em;
			&:first-child {
				border-top: none;
			}
		}
		
	}
}

.widget_wpt_events_widget {
	.wp_theatre_event {
		figure {
			width: 30%;
		}
		.main {
			float: left;
			width: 70%;
			> div {
				float: none;
				width: auto;
			}
		}
	}
}

.widget_wpt_productions_widget {
	.wp_theatre_prod {
		figure {
			width: 30%;
		}
		.main {
			float: left;
			width: 70%;
			> div {
				float: none;
				width: auto;
			}
		}
	}
}
